<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel='stylesheet' href='./stylesheets/reset.css'/>
    <link rel="stylesheet" href="./stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/my.css'/>
    <link rel='stylesheet' href='/stylesheets/myUI.css'/>

    <script src="./javascripts/jquery-1.9.1.js"></script>
    <script src="./javascripts/ajax_file.js"></script>
    <script src="./javascripts/jquery-ui.min.js"></script>
    <script src="./javascripts/myTabs.js"></script>
    <script src="./javascripts/mySelect.js"></script>
</head>