    <% include head.ejs %>

    <script>
        $(function () {
            $("#addNewPackage").button()
                    .on('click',function(e){
                        e.stopPropagation();

                        $( "#tabs" ).tabs( "load", 1 );
                        $( "#tabs" ).show();

                    });

            $("button").button()
                    .on('click',function(e){
                        e.stopPropagation();
                        $( "#tabs").hide();
                    });
            $( "#myta" ).myTabs('creat',{
                event: "mouseover",
                heightStyle: "fill",
                url : "../getTitles"
            });
            $( "#myta" ).myTabs('reFresh',{
                event: "mouseover",
                heightStyle: "fill",
                url : "../getTitles"
            });
            $( "#tabs" ).tabs({
                event: "mouseover",
                heightStyle: "fill",
                url : "../getTitles"
            });
;

           // $( "#tabs").hide();
        })
    </script>
    <style>
        #tabs{
            height: 200px;
        width: 600px;
        }
        #myta{
            height: 200px;
            width: 600px;
        }
    </style>
<body>
<% include navigation.ejs %>
<p id="pInfo">&nbsp;</p>

<div class="index_bodyDiv">
    <div class="index_div">
        <p class="addMachine_lable">设备条码:</p>

        <div class="ui-corner-all addmachine_data border_gray">
            <input id="addMachine_barcode" class="addmachine_dataInput">
        </div>
    </div>
    <div class="index_div my_hr">
    </div>
    <div class="index_div">
        <table>
            <thead>
                <tr>
                    <td style="width: 15%">时间</td>
                    <td style="width: 15%">部门</td>
                    <td style="width: 55%">备注</td>
                    <td style="width: 15%">类型</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>时间</td><td>部门</td><td>备速度的风格的风格的风格是大法官的风格的风格浮动人如果二哥热工如果法国的风格的人的风格而二哥的风格的人工注</td><td>类型</td>
            </tr>
            <tr class="tEven">
                <td>时间</td><td>部门</td><td>备注是大法官的风格是大法官是的风格的风格大概个的风格的风风格是大法官是的风格的风格大概个的风格的风风格是大法官是的风格的风格大概个的风格的风格</td><td>类型</td>
            </tr>
            <tr>
                <td>时间</td><td>部门</td><td>备注</td><td>类型</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>