<div id="navigation">
    <a href="/index" target="_self">设备转移</a>
    <a href="/addMachine" target="_self">设备入库</a>
    <a>设备统计</a>
</div>
<script>
       $(function(){
           $('#navigation a').button();
       })
</script>