body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#navigation{
    padding-bottom: 5px ;
    border-bottom: lightgreen 1px solid;
}
#machineInput{
    padding: 10px 0px;
}
.tEven {
    background-color: #ffead7;
}
#pInfo {
    color: darkred;
    font-size: 20px;
    text-align: center;
}
.my_hr{
    border-bottom: 1px solid #56dd40;
}
thead td{
    padding: 8px;
    border-bottom: 1px solid #56dd40;
}
tbody td span{
    cursor: pointer;
}
tbody td{
    padding: 8px;
}
table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}
.hover{
    color: red;
}
#exportForm input{
    width: 100px;
}
#exportForm div{
    padding-top: 5px;
}
.addMachine_div{
    padding-top: 15px;
    clear: both;
}
.index_div{
    padding-top: 15px;
    clear: both;
}
.manage_div{
    padding-top: 15px;
    clear: both;
}
.manage_select_div{
    padding-top: 15px;
    float: left;
    padding-left: 20px;
}
.addMachine_lable{
    width: 150px;
    font-size: 20px;
    float: left;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
}
.index_lable{
    width: 80px;
    font-size: 15px;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}
.addmachine_data{
    width: 300px;
    height: 40px;
    float: left;
}
.index_data{
    width: 300px;
    height: 40px;
    float: left;
}
.addmachine_textareaDiv{
    width: 300px;
    height: 80px;
    float: left;
}
.index_textareaDiv{
    width: 300px;
    height: 85px;
    float: left;
}
.index_textareaInput{
    border: 0;
    width: 290px;
    height: 75px;
    overflow:hidden;
    float: left;
    line-height: 30px;
    padding:5px ;
    font-size: 25px
}
.index_dataInput{
    border: 0;
    width: 290px;
    overflow:hidden;
    float: left;
    line-height: 30px;
    padding:5px ;
    font-size: 25px
}
.addmachine_textareaInput,.addmachine_dataInput{
    border: 0;
    width: 290px;
    overflow:hidden;
    float: left;
    line-height: 30px;
    padding:5px ;
    font-size: 25px
}
.border_gray{
    border: 1px solid #d3d3d3;
}
.addmachine_tabs{
    height: 500px;
    width: 600px;
    z-index: 100;
}
.addType_label, .addDepartment_label{
    font-size: 20px;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.addType_input, .addDepartment_input{
    width: 200px;
    overflow:hidden;
    float: left;
    line-height: 20px;
    margin-left: 15px;
    padding: 2px;
    font-size: 24px;
}
.index_bodyDiv{
    padding: 10px 0;
}
