body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#navigation{
    padding-bottom: 5px ;
    border-bottom: lightgreen 1px solid;
}
#machineInput{
    padding: 10px 0px;
}
.tEven {
    background-color: #ffead7;
}
#pInfo {
    color: darkred;
    font-size: 20px;
    text-align: center;
}
thead td{
    padding: 8px;
    border-bottom: 1px solid #56dd40;
}
tbody td span{

    cursor: pointer;
}
tbody td{
    padding: 8px;
}
table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}
.hover{
    color: red;
}
#exportForm input{
    width: 100px;
}
#exportForm div{
    padding-top: 5px;
}